<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Object01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,147}</string>
                <key>spriteSourceSize</key>
                <string>{147,147}</string>
                <key>textureRect</key>
                <string>{{308,1},{147,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Object02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,79}</string>
                <key>spriteSourceSize</key>
                <string>{82,79}</string>
                <key>textureRect</key>
                <string>{{297,150},{82,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Object03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,61}</string>
                <key>spriteSourceSize</key>
                <string>{78,61}</string>
                <key>textureRect</key>
                <string>{{381,150},{78,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Object04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,153}</string>
                <key>spriteSourceSize</key>
                <string>{146,153}</string>
                <key>textureRect</key>
                <string>{{1,1},{146,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Object05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,145}</string>
                <key>spriteSourceSize</key>
                <string>{150,145}</string>
                <key>textureRect</key>
                <string>{{156,1},{150,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Object06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,52}</string>
                <key>spriteSourceSize</key>
                <string>{74,52}</string>
                <key>textureRect</key>
                <string>{{96,149},{74,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Object07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,75}</string>
                <key>spriteSourceSize</key>
                <string>{93,75}</string>
                <key>textureRect</key>
                <string>{{1,149},{93,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Object08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{139,74}</string>
                <key>spriteSourceSize</key>
                <string>{139,76}</string>
                <key>textureRect</key>
                <string>{{156,148},{139,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>object.png</string>
            <key>size</key>
            <string>{456,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce273d47732abf48518b45d66bfdc1ac:3c46ab3f1da6764e2307519c4cbee5d9:ac89c3c75d859b2f4d7cc663070eb444$</string>
            <key>textureFileName</key>
            <string>object.png</string>
        </dict>
    </dict>
</plist>
